*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.todo-pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.formContainer>div + div{
  margin-top: 10px;
}

.error_panel{
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}